name: "Test Modules with Terratest"
on: 
  pull_request:
  push:
  schedule:
  - cron: "0 21 * * 5" # Run at 11pm every Friday for weekend fixes

env:
  tf_version: '0.13.6'
  tf_working_dir: '.'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: actions/checkout@master
    - name: 'Terraform Init'
      uses: hashicorp/terraform-github-actions@master
      with:
        tf_actions_version: ${{ env.tf_version }}
        tf_actions_subcommand: 'init'
        tf_actions_working_dir: ${{ env.tf_working_dir }}
        tf_actions_comment: false
    - name: 'Terraform Validate'
      uses: hashicorp/terraform-github-actions@master
      with:
        tf_actions_version: ${{ env.tf_version }}
        tf_actions_subcommand: 'validate'
        tf_actions_working_dir: ${{ env.tf_working_dir }}
        tf_actions_comment: false
  argocd:
    runs-on: ubuntu-latest
    needs: validate
    steps:
    - uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: ${{ env.tf_version }}
        terraform_wrapper: false
    - uses: actions/checkout@master
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.14.4' # The Go version to download (if necessary) and use.
    - run: go test -v ./modules/argocd
  secrets:
    runs-on: ubuntu-latest
    needs: validate
    steps:
    - uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: ${{ env.tf_version }}
        terraform_wrapper: false
    - uses: actions/checkout@master
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.14.4' # The Go version to download (if necessary) and use.
    - run: go test -v ./modules/secrets
  digitalocean:
    runs-on: ubuntu-latest
    needs: validate
    steps:
    - uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: ${{ env.tf_version }}
        terraform_wrapper: false
    - uses: actions/checkout@master
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.14.4' # The Go version to download (if necessary) and use.
    - run: go test . --run TestDigitalOcean -v --timeout 60m
      env:
        TF_VAR_do_token: ${{ secrets.DigitalOceanToken }}
        TF_VAR_cluster_name: test-${{ github.run_id }}