name: "Test Modules with Terratest"
on: 
  pull_request:
  push:
  schedule:
  - cron: "0 21 * * 5" # Run at 11pm every Friday for weekend fixes

jobs:
  argocd:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.14.4' # The Go version to download (if necessary) and use.
    - run: go test -v ./modules/argocd
  secrets:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.14.4' # The Go version to download (if necessary) and use.
    - run: go test -v ./modules/secrets
  platform:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.14.4' # The Go version to download (if necessary) and use.
    - run: go test -v .